In [ ]:
# Q - 1
def Merge(l1, l2):
    mergelist = []
    i = 0
    j = 0

    while i < len(l1) and j < len(l2):
        if l1[i] < l2[j]:
            mergelist.append(l1[i])
            i += 1
        else:
            mergelist.append(l2[j])
            j += 1

    while i < len(l1):
        mergelist.append(l1[i])
        i += 1

    while j < len(l2):
        mergelist.append(l2[j])
        j += 1

    return mergelist

list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
print("Merged List : ", Merge(list1, list2))

Merged List :  [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Q - 2
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

print({employee: defaults.copy() for employee in employees})

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [ ]:
# Q - 3
dictionary = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}

keyremove = ["name", "salary"]

print({key: dictionary[key] for key in dictionary if key not in keyremove})

{'age': 25, 'city': 'New York'}

In [ ]:
# Q - 4
X = {"A", 1, 2, 3, 4}
Y = {3, 4, 5,"A", 6 , "C"}

print(X ^ Y)

{1, 2, 'C', 5, 6}

In [ ]:
# Q - 5
def Divide(P, Q):
    try:
        result = P / Q
        return result
    except ZeroDivisionError:
        print("Zero Division.")
        return 0
    except TypeError:
        print("Other than numbers.")
        return 0

P = 10
Q = 0

print("Answer:", Divide(P, Q))
print()
P = 20
Q = 10

print("Answer:", Divide(P, Q))

Zero Division.
Answer: 0

Answer: 2.0